.idea/
/conversations/
/local-testing-convos/
/local-testing-configs/
__pycache__/
state/
/logs
/.run/
/.venv/

my_config.json
myConfig.json

scratch/suites/.DS_Store
poetry.lock
rubberduckdb

scratch/secrets.env
github_secrets.txt
pre-production.env

v2-production-config.json
nic.yaml

*.db
*.env
