*.env
.idea/
/conversations/
/local-testing-convos/
/local-testing-configs/
__pycache__/
state/
scratch/suites/.DS_Store
poetry.lock
/aubry.json
scratch/secrets.env
*.db
settings.txt
github_secrets.txt
requirements.txt
pre-production.env
pre-production_config.json
**.json