.DS_Store
.idea/
.tyteam/
/conversations/
/local-testing-convos/
/local-testing-configs/
__pycache__/
state/
/logs
/.run/
/.venv/

my_config.json
myConfig.json

scratch/suites/.DS_Store
rubberduckdb
rubber-duck_results.html

scratch/secrets.env
github_secrets.txt
pre-production.env

*.db
*.env
