  - name: cs312-grader
    duck_type: feedback
    settings:
      name: cs312-projects
      gradable_assignments:
        - name: Project RSA
          instruction_path: rubrics/rsa-baseline-core.md
          sections:
            - Baseline
            - Core
        - name: Project Mock
          instruction_path: rubrics/mock-rubric.md
          sections:
            - Core
            - Stretch 1
        - name: Project LeetCode
          instruction_path: rubrics/leetcode.md
          sections:
            - Baseline
            - Core
            - Stretch 1
            - Stretch 2
        - name: Project Backtracking
          instruction_path: rubrics/backtracking.md
          sections:
            - Baseline
        - name: Project Alignment
          instruction_path: rubrics/alignment-rubric.md
          sections:
            - Baseline
            - Core
            - Stretch 1
            - Stretch 2
            - Project Review
      grader_agent:
        # This agent expects a report and a set of requirements as a list and returns a list of the requirements
        name: grader
        engine: gpt-5-nano
        prompt_files:
#          - prompts/feedback/tier-grader.md
#          - prompts/feedback/zero-shot-grader-emojis.md
#          - prompts/feedback/tier-grader-yaml-based.md
          - prompts/feedback/tier-grader-structured-output.md
        reasoning: minimal
        output_format:
          format:
            type: json_schema
            name: grading_output
            strict: true
            schema:
              type: object
              properties:
                results:
                  type: array
                  items:
                    type: object
                    properties:
                      rubric_item:
                        type: string
                        description: same exact rubric item provided to you
                      satisfactory:
                        type: boolean
                        description: Indicates if the report provided meets the given rubric item
                      justification:
                        type: string
                        description: Justification for if the report satisfied the requirement
                    required: [ "rubric_item", "satisfactory", "justification"]
                    additionalProperties: false
              required: ["results"]
              additionalProperties: false
      single_rubric_item_grader:
        # This agent expects a report section and a single requirement and grades on the single requirement
        name: grader
        engine: gpt-5-nano
        prompt_files:
          - prompts/feedback/tier-grader-structured-output-single.md
        reasoning: minimal
        output_format:
          format:
            type: json_schema
            name: grading_output
            strict: true
            schema:
              type: object
              properties:
                rubric_item:
                  type: string
                  description: same exact rubric item provided to you
                justification:
                  type: string
                  description: Justification for if the report satisfied the requirement
                satisfactory:
                  type: boolean
                  description: Indicates if the report provided meets the given rubric item
              required: ["rubric_item", "justification", "satisfactory"]
              additionalProperties: false

      interviewer_agent:
        # This agent gets the desired report and section name(s) from the user based on the gradable_assignments
        name: interviewer
        engine: gpt-5-mini
        prompt_files:
          - prompts/feedback/interviewer.md
        reasoning: minimal
        tools:
          - talk_to_user
      project_scanner_agent:
        # This agent gets the desired report and section name(s) from the user based on the report
        name: project_scanner
        engine: gpt-5-nano
        prompt_files:
          - prompts/feedback/section-and-project-determiner.md
        output_format:
          format:
            type: json_schema
            name: project_and_sections
            strict: true
            schema:
              type: object
              properties:
                project_name:
                  type: string
                  description: the name of the project
                sections:
                  type: array
                  description: list of section names
                  items:
                    type: string
              required: [ "project_name", "sections"]
              additionalProperties: false

        reasoning: minimal

      # TODO these aren't actually being relied on right now.
      file_size_limit: *file_size_limit
      file_type_ext: *file_type_ext
