  - name: cs312-grader
    duck_type: feedback
    settings:
      name: cs312-projects

      gradable_assignments:
#        - name: Project LeetCode
#          rubric_path: rubrics/leetcode.yaml
#          sections:
#            - Baseline
#            - Core
#            - Stretch 1
#            - Stretch 2
#        - name: Project Backtracking
#          rubric_path: rubrics/backtracking.yaml
#          sections:
#            - Baseline
#            - Core
#            - Stretch 1
#            - Stretch 2
#            - Project Review
#        - name: Project Mock
#          rubric_path: rubrics/mock.yaml
#          sections:
#            - Brownie Recipe
#            - Pie Recipe
        - name: Project Alignment
          rubric_path: rubrics/alignment-rubric.yaml
          sections:
            - Baseline
            - Core
            - Stretch 1
            - Stretch 2
            - Project Review

      single_rubric_item_grader:
        # This agent expects a part of a report and a single requirement
        name: grader
        engine: gpt-5-mini
        prompt_files:
          - prompts/feedback/tier-grader-structured-output-single.md
        reasoning: minimal
        output_format:
          format:
            type: json_schema
            name: grading_output
            strict: true
            schema:
              type: object
              properties:
                rubric_item:
                  type: string
                  description: same exact rubric item provided to you
                justification:
                  type: string
                  description: Justification for if the report satisfied the requirement
                satisfactory:
                  type: boolean
                  description: Indicates if the report provided meets the given rubric item
              required: ["rubric_item", "justification", "satisfactory"]
              additionalProperties: false

      project_scanner_agent:
        # This agent gets the desired report and section name(s) from the user based on the report
        name: project_scanner
        engine: gpt-5-nano
        prompt_files:
          - prompts/feedback/section-and-project-determiner.md
        output_format:
          format:
            type: json_schema
            name: project_and_sections
            strict: true
            schema:
              type: object
              properties:
                project_name:
                  type: string
                  description: the name of the project
                sections:
                  type: array
                  description: list of section names
                  items:
                    type: string
              required: [ "project_name", "sections"]
              additionalProperties: false

        reasoning: minimal
