# Anchors
file_size_limit: &file_size_limit 4096 # 4KB limit
file_type_ext:
  &file_type_ext [
    "txt",
    "py",
    "java",
    "cpp",
    "c",
    "h",
    "hpp",
    "js",
    "ts",
    "html",
    "css",
    "md",
  ]

sql:
  db_type: sqlite
  database: /rubber-duck.db

containers:
  stats-python-sandbox:
    image: byucscourseops/python-tools-sandbox:latest
    settings: # TODO: use this
      cpu_limit: 1
      memory_limit: 512m
      network: none
      timeout: 30
    mounts: # folder: folder | file: folder | file: folder/file - auto-detected
      - { source: s3://stats121-datasets/datasets/, target: /home/sandbox/datasets/ }

tools:
  run_python:
    type: container_exec
    container: stats-python-sandbox


agents_as_tools:
  check_suspicion_bot:
    doc_string: |
      This tool determines if a user's message is suspicious. Suspicious messages are those that do not appear to follow the format
      of a user's name (first_name_last_name). The tool checks for profanity, unusual characters, and other indicators of suspicious behavior.
      If the message is suspicious, the tool returns a formatted output indicating the reason for suspicion. If the message is not suspicious,
      the tool returns a formatted output indicating that the message is safe.
    agent:
      name: SuspicionChecker
      prompt_files:
        - prompts/production-prompts/suspicion-checker.txt
      engine: gpt-5-mini
      reasoning: minimal
      tools: []
      output_format:
        format:
          type: json_schema
          name: suspicion_output
          strict: true
          schema:
            type: object
            properties:
              suspicious:
                type: boolean
                description: Indicates if the name is suspicious according to the agent.
              reason:
                type: string
                description: The reason why the name is considered suspicious or safe.
            required: [ "suspicious", "reason" ]
            additionalProperties: false

  code_complexity_agent:
    doc_string: |
      This tool analyzes the complexity of source code and returns a string describing the order of complexity. 
      This tool takes source code as a string and returns a string describing the order of complexity (Big-O analysis) of the provided code.
    agent:
      name: CodeComplexityAgent
      prompt_files:
        - prompts/312-project-design/generate-code-complexity.md
      engine: gpt-4.1
      tools: []

ducks:
  standard-rubber-duck:
    duck_type: agent_led_conversation
    settings:
      agent:
        name: RubberDuck
        prompt_files:
          - prompts/production-prompts/standard-rubber-duck.md
        engine: gpt-5-mini
        reasoning: minimal
        tools:
          - talk_to_user
          - conclude_conversation
      file_size_limit: *file_size_limit
      file_type_ext: *file_type_ext

  stats-duck:
    duck_type: user_led_conversation
    settings:
      introduction: >
        I can perform many statistical operations on a list of provided datasets. 
        If you want more specifics, please ask. How can I help you with stats?
      agent:
        name: stats_duck
        prompt_files:
          - prompts/production-prompts/stats.md
        engine: gpt-5-mini
        reasoning: minimal
        tools:
          - run_python
        file_size_limit: *file_size_limit
        file_type_ext: *file_type_ext

servers:
  CS 110:
    server_id: 927616651409649675
    channels:
      review-cs-110:
        channel_id: 1296158078017736725
        timeout: 300
        ducks:
          Conversation-Review-cs110:
            duck_type: conversation_review
            settings:
              target_channel_ids:
                - 1234556460453597276

      general/duck-pond:
        channel_id: 1234556460453597276
        timeout: 600
        ducks:
          standard-rubber-duck: {}

      join-the-server:
        channel_id: 1399777118380097648
        timeout: 600
        ducks:
          Registration-Workflow-CS110:
            duck_type: registration
            settings:
              cache_timeout: 60800
              authenticated_user_role_name: Student
              email_domain: byu.edu
              ta_channel_id: 1413242197398126613
              suspicion_checker_tool: check_suspicion_bot
              roles:
                patterns:
                  Teacher-Sections:
                    pattern: "-section-"
                    description: Sorted by teacher's name (e.g. smith-section-000)

  CS Faculty:
    server_id: 911014551263268916
    channels:
      Duck Pond:
        channel_id: 1146906576788140154
        timeout: 600
        ducks:
          standard-rubber-duck: {}

  CS 235:
    server_id: 747510855536738336
    channels:
      review-cs-235:
        channel_id: 1327385245036838912
        timeout: 300
        ducks:
          Conversation-Review-CS235:
            duck_type: conversation_review
            settings:
              target_channel_ids:
                - 1195490291134779502

      student-text-channels/duck-pond:
        channel_id: 1195490291134779502
        timeout: 600
        ducks:
          standard-rubber-duck: {}

      join-the-server:
        channel_id: 1399788047981351042
        timeout: 600
        ducks:
          Registration-Workflow-CS235:
            duck_type: registration
            settings:
              cache_timeout: 60800
              authenticated_user_role_name: Student
              email_domain: byu.edu
              roles:
                patterns:
                  Teacher-Sections:
                    pattern: "-section-"
                    description: Sorted by teacher name (e.g. smith-section-001)

  CS 301R - Agent Engineering:
    server_id: 1404656370757664929
    channels:
      register:
        channel_id: 1455309626378813470
        ducks:
          Registration-Workflow-CS301R-Agents:
            duck_type: registration
            settings:
              cache_timeout: 60800
              authenticated_user_role_name: Student
              email_domain: byu.edu
              roles:
                patterns: []

  CS 111:
    server_id: 1235303213796691998
    channels:
      review-cs-111:
        channel_id: 1329934513333338244
        timeout: 300
        ducks:
          Conversation-Review-CS111:
            duck_type: conversation_review
            settings:
              target_channel_ids:
                - 1406039546721730582

      Student Text Channels/duck-pond:
        channel_id: 1406039546721730582
        timeout: 600
        ducks:
          standard-rubber-duck: {}

  BYU - CS 312:
    server_id: 1407758127608365157
    channels:
      register:
        channel_id: 1407761075226542120
        timeout: 300
        ducks:
          Registration-Workflow-CS312:
            duck_type: registration
            settings:
              cache_timeout: 60800
              authenticated_user_role_name: student
              email_domain: byu.edu
              ta_channel_id: 1413242407566315550
              suspicion_checker_tool: check_suspicion_bot
              roles:
                patterns:
                  Lecture-Sections:
                    pattern: "lecture-"
                    description: Who teaches your lecture?
      duck-pond:
        channel_id: 1442908120488743113
        timeout: 600
        ducks:
          standard-rubber-duck: {}
      project-review:
        channel_id: 1442908158757437502
        timeout: 300
        ducks:
          cs312-grader:
            duck_type: assignment_feedback
            settings:
              name: cs312-projects
              initial_instructions: |
                This AI tool takes a report in markdown format and determines if it meets a set of rubric requirements.
                
                The feedback provided by this tool is intended to be a helpful "second set of eyes" on your report; 
                it is not intended as a definitive statement on whether your report is correct.
                
                Note:
                - This generated feedback does **not** check images and may give inaccurate feedback regarding images.
                - The rubrics used the tool to grade your project may differ slightly from the ones in Canvas and might not include the coding requirements.
                
                Provide your feedback about using this tool in #ai-feedback . When relevant, please include a link to this thread in your feedback.

              gradable_assignments:
                Project Report - Alignment:
                  rubric_path: [ rubrics/alignment-rubric.yaml, rubrics/cs312-project-rules.yaml ]

                Project Report - Backtracking:
                  rubric_path: [ rubrics/backtracking-rubric.yaml, rubrics/cs312-project-rules.yaml ]

                Project Report - Branch and Bound:
                  rubric_path: [ rubrics/branch-and-bound-rubric.yaml, rubrics/cs312-project-rules.yaml ]

                Project Leetcode:
                  rubric_path: [ rubrics/leetcode-rubric.yaml, rubrics/cs312-project-rules.yaml ]

                Project Demo Fruit:
                  rubric_path: [ rubrics/demo-fruit-rubric.yaml, rubrics/fruit-demo-rules.yaml ]
                  message: |
                    Please note this is a demo project
              

              single_rubric_item_grader:
                # This agent expects a part of a report and a single requirement
                name: grader
                engine: gpt-5-mini
                prompt_files:
                  - prompts/assignment-feedback/tier-grader-structured-output-single.md
                reasoning: minimal
                output_format:
                  format:
                    type: json_schema
                    name: grading_output
                    strict: true
                    schema:
                      type: object
                      properties:
                        rubric_item:
                          type: string
                          description: same exact rubric item provided to you
                        justification:
                          type: string
                          description: Justification for if the report satisfied the requirement
                        satisfactory:
                          type: boolean
                          description: Indicates if the report provided meets the given rubric item
                      required: [ "rubric_item", "justification", "satisfactory" ]
                      additionalProperties: false

              project_scanner_agent:
                # This agent gets the desired report and section name(s) from the user based on the report
                name: project_scanner
                engine: gpt-5-mini
                prompt_files:
                  - prompts/assignment-feedback/project-determiner.md
                output_format:
                  format:
                    type: json_schema
                    name: project_name
                    strict: true
                    schema:
                      type: object
                      properties:
                        project_name:
                          type: string
                          description: the name of the project
                      required: [ "project_name" ]
                      additionalProperties: false

                reasoning: minimal
      duck-review:
        channel_id: 1442908515147710558
        ducks:
          Conversation-Review-CS312:
            duck_type: conversation_review
            settings:
              target_channel_ids:
                - 1442908120488743113
                - 1442908158757437502
        timeout: 600


  Stats:
    server_id: 1371951485629370458
    channels:
      ta-review:
        channel_id: 1371951756149260298
        timeout: 300
        ducks:
          Conversation-Review-Stats:
            duck_type: conversation_review
            settings:
              target_channel_ids:
                - 1371951696061661215
                - 1374066971523678279

      join-the-server:
        channel_id: 1404899692210553033
        timeout: 600
        ducks:
          Registration-Workflow-Stats:
            duck_type: registration
            settings:
              cache_timeout: 60800
              authenticated_user_role_name: Student
              email_domain: byu.edu
              sender_email: byu-cs-course-ops@cs.byu.edu
              ta_channel_id: 1371951756149260298
              suspicion_checker_tool: check_suspicion_bot
      stats-gpt:
        channel_id: 1371951696061661215
        timeout: 600
        ducks:
          standard-rubber-duck: {}

      stats-tool:
        channel_id: 1374066971523678279
        timeout: 600
        ducks:
          stats-duck: {}


  Physics:
    server_id: 1354902266246598928
    channels:
      review-phys-230:
        channel_id: 1363949553102880869
        ducks:
          Conversation-Review-Phys-230:
            duck_type: conversation_review
            settings:
              target_channel_ids:
                - 1363949528201564170
        timeout: 300

      physics-230-phys230:
        channel_id: 1363949528201564170
        timeout: 600
        ducks:
          standard-rubber-duck: {}

      review-phys-430:
        channel_id: 1359587713749094700
        timeout: 300
        ducks:
          Conversation-Review-Phys-430:
            duck_type: conversation_review
            settings:
              target_channel_ids:
                - 1359587525605458030

      physics-430-phys430:
        channel_id: 1359587525605458030
        timeout: 600
        ducks:
          standard-rubber-duck: {}


  Rubber Duck Demo Server:
    server_id: 1338616224858374287
    channels:
      vintage-duck-review:
        channel_id: 1338619665789751337
        timeout: 300
        ducks:
          Conversation-Review-Demo:
            duck_type: conversation_review
            settings:
              target_channel_ids:
                - 1338616283671040000
      vintage-duck:
        channel_name: vintage-duck
        ducks:
          standard-rubber-duck: {}
        timeout: 600

      emoji-duck:
        channel_id: 1401960218870419647
        timeout: 2000
        ducks:
          Emoji-Duck-Demo:
            duck_type: agent_led_conversation
            settings:
              agent:
                name: emoji-duck
                engine: gpt-4.1
                prompt_files:
                  - prompts/production-prompts/emoji.txt
                tools: []
              file_size_limit: *file_size_limit
              file_type_ext: *file_type_ext

      code-complexity-analysis-duck:
        channel_id: 1385293810782965830
        timeout: 600
        ducks:
          Code-Complexity-Duck-Demo:
            duck_type: agent_led_conversation
            settings:
              file_size_limit: 5100
              file_type_ext: [ "py", "java", "cpp", "c", "h", "hpp", "ts", "js" ]
              agent:
                name: ComplexityDuck
                prompt: |
                  You are a helpful CS assistant.
                  You explain Big-O analysis. 
                  You can use the provided tools to generate a complexity analysis report
                  when the user provides a code file.
                  Keep your responses brief and clear. Provide the tool output to the user verbatim.
                tools:
                  - generate_code_complexity_analysis
                engine: gpt-5-mini
                reasoning: minimal

      socratic-duck:
        channel_id: 1379953844540407969
        timeout: 600
        ducks:
          Socratic-Rubber-Duck-Demo:
            duck_type: agent_led_conversation
            settings:
              agent:
                name: socrates
                prompt_files:
                  - prompts/production-prompts/socratic-duck.txt
                engine: gpt-4.1
                tools: []
              file_size_limit: *file_size_limit
              file_type_ext: *file_type_ext

      join-the-server:
        channel_id: 1379959992110546995
        timeout: 600
        ducks:
          Registration-Workflow-Demo:
            duck_type: registration
            settings:
              cache_timeout: 60800
              authenticated_user_role_name: I-passed-registration
              ta_channel_id: 1379965339428720700
              suspicion_checker_tool: check_suspicion_bot
              email_domain: byu.edu
              roles:
                patterns:
                  Teacher-Sections:
                    pattern: "-section-\\d{3}$"
                    description: Teacher name followed by section number (e.g. smith-section-001)
                  Lab-Sections:
                    pattern: "^lab-section-\\d{3}$"
                    description: Lab section number (e.g. lab-section-002)

      designer-duck:
        channel_id: 1384678077694480434
        timeout: 600
        ducks:
          Phd-Duck-Demo:
            duck_type: agent_led_conversation
            settings:
              agent:
                name: PhdDuck
                engine: gpt-4.1
                prompt_files:
                  - prompts/312-project-design/phd-duck.txt
                  - prompts/312-project-design/convex-hull/project-design-convex-hull.txt
                tools: []
              file_size_limit: *file_size_limit
              file_type_ext: *file_type_ext

      stats-tool:
        channel_id: 1379955387587104829
        ducks:
          stats-duck: {}
        timeout: 600

feedback_notifier_settings:
  feedback_check_hour: 9
  feedback_check_minute: 0

admin_settings:
  admin_channel_id: 1192895746672951340
  admin_role_id: 933123843038535741
  log_level: WARNING

sender_email: byu-cs-course-ops@cs.byu.edu

dataset_folder_locations:
  - s3://stats121-datasets/datasets/

ai_completion_retry_protocol:
  max_retries: 2
  delay: 2
  backoff: 2

reporter_settings:
  gpt_pricing:
    "gpt-5": [ 1.25, 10.00 ]
    "gpt-5-mini": [ 0.25, 2.00 ]
    "gpt-5-nano": [ 0.05, 0.40 ]
    "gpt-4.1": [ 2.00, 8.00 ]
    "gpt-4.1-mini": [ 0.40, 1.60 ]
    "gpt-4.1-nano": [ 0.01, 0.04 ]

    "gpt-4": [ 0.03, 0.06 ]
    "gpt-4o": [ 0.0025, 0.01 ]
    "gpt-4-1106-preview": [ 0.01, 0.03 ]
    "gpt-4-0125-preview": [ 0.01, 0.03 ]
    "o4-mini": [ 0.000150, 0.0006 ]
    "gpt-4-turbo": [ 0.01, 0.03 ]
    "gpt-4-turbo-preview": [ 0.01, 0.03 ]
    "gpt-3.5-turbo-1106": [ 0.001, 0.002 ]
    "gpt-3.5-turbo": [ 0.001, 0.003 ]
