standard-rubber-duck:
  duck_type: agent_led_conversation
  settings:
    agent:
      name: RubberDuck
      prompt_files:
        - prompts/production-prompts/standard-rubber-duck.md
      engine: gpt-5-mini
      reasoning: minimal
      tools:
        - talk_to_user
        - conclude_conversation
    $include: settings-config.yaml#/file_settings

stats-duck:
  duck_type: user_led_conversation
  settings:
    introduction: >
      I can perform many statistical operations on a list of provided datasets. 
      If you want more specifics, please ask. How can I help you with stats?
    agent:
      name: stats_duck
      prompt_files:
        - prompts/production-prompts/stats.md
      engine: gpt-5-mini
      reasoning: minimal
      tools:
        - run_python
    $include: settings-config.yaml#/file_settings