cs312-grader:
  duck_type: assignment_feedback
  settings:
    name: cs312-projects
    initial_instructions: |
      This AI tool takes a report in markdown format and determines if it meets a set of rubric requirements.
      
      The feedback provided by this tool is intended to be a helpful "second set of eyes" on your report; 
      it is not intended as a definitive statement on whether your report is correct.
      
      Note:
      - This generated feedback does **not** check images and may give inaccurate feedback regarding images.
      - The rubrics used the tool to grade your project may differ slightly from the ones in Canvas and might not include the coding requirements.
      - It may take a few minutes to run
      - Use the same formatting given in the markdown report provided to you or the autograder may not work  
      
      Provide your feedback about using this tool in #ai-feedback . When relevant, please include a link to this thread in your feedback.

    gradable_assignments:
      Project Report - RSA and Primality Tests:
        rubric_path: [ rubrics/rsa-rubric.yaml, rubrics/cs312-project-rules.yaml ]

      Project Report - Network Analysis SCCs:
        rubric_path: [ rubrics/scc-rubric.yaml, rubrics/cs312-project-rules.yaml ]

      Project Report - Network Routing:
        rubric_path: [ rubrics/dijkstras-rubric.yaml, rubrics/cs312-project-rules.yaml ]

      Project Report - Alignment:
        rubric_path: [ rubrics/alignment-rubric.yaml, rubrics/cs312-project-rules.yaml ]

      Project Report - Convex Hull:
        rubric_path: [ rubrics/convex-hull-rubric.yaml, rubrics/cs312-project-rules.yaml ]

      Project Leetcode:
        rubric_path: [ rubrics/leetcode-rubric.yaml, rubrics/cs312-project-rules.yaml ]

      Project Report - Backtracking:
        rubric_path: [ rubrics/backtracking-rubric.yaml, rubrics/cs312-project-rules.yaml ]

      Project Report - Branch and Bound:
        rubric_path: [ rubrics/branch-and-bound-rubric.yaml, rubrics/cs312-project-rules.yaml ]

      Project Demo Fruit:
        rubric_path: [ rubrics/demo-fruit-rubric.yaml, rubrics/fruit-demo-rules.yaml ]
        message: |
          Please note this is a demo project


    single_rubric_item_grader:
      # This agent expects a part of a report and a single requirement
      name: grader
      engine: gpt-5-mini
      prompt_files:
        - prompts/assignment-feedback/tier-grader-structured-output-single.md
      reasoning: minimal
      output_format:
        format:
          type: json_schema
          name: grading_output
          strict: true
          schema:
            type: object
            properties:
              rubric_item:
                type: string
                description: same exact rubric item provided to you
              justification:
                type: string
                description: Justification for if the report satisfied the requirement
              satisfactory:
                type: boolean
                description: Indicates if the report provided meets the given rubric item
            required: [ "rubric_item", "justification", "satisfactory" ]
            additionalProperties: false

    project_scanner_agent:
      # This agent gets the desired report and section name(s) from the user based on the report
      name: project_scanner
      engine: gpt-5-mini
      prompt_files:
        - prompts/assignment-feedback/project-determiner.md
      output_format:
        format:
          type: json_schema
          name: project_name
          strict: true
          schema:
            type: object
            properties:
              project_name:
                type: string
                description: the name of the project
            required: [ "project_name" ]
            additionalProperties: false

      reasoning: minimal